[package]
name = "cargo-psp-ml"
version = "0.1.0"
edition = "2021"

[lib]
name = "psp_ml_compiler"
path = "src/lib.rs"

[[bin]]
name = "cargo-psp-ml"
path = "src/bin/cargo-psp-ml.rs"

[dependencies]
flatbuffers = "24.3"
quote = "1"
proc-macro2 = "1"
syn = "2"
prettyplease = "0.2"
